
        * {

        	margin: 0; 

        	padding: 0;

          }

        body {

        	font-family: "Microsoft yahei";

        	}

        #box 

        {

         width: 180px;

         height: 180px;

         border:1px solid black;

         line-height: 180px; 

         text-align: center; 

         color: black;

        }

        img {width: 180px; height: 180px;}